@media screen and (min-width: 480px) {
  }

.fa {
    padding: 7px;
    padding-top: 5x;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%
   
}
* {
    margin: 0px;
    padding: auto;
}

#header {
    display: flex;
    flex-wrap: column;
}
#HeaderBG {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: antiquewhite;
    text-align: center;
    height: 200px;
    padding: 20px ;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 2px 5px 2px #888888;
}
#HeaderBG2 {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    border: 1px skyblue;
    padding-inline: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 2px #888888;
    margin: 90px 30px 30px 30px;
    padding: 20px;
}

#buttons {
    flex-flow: row;
}

img {
    margin: 20px 20px 20px 20px;
    border-radius: 50px 10px 50px 20px;
    box-shadow: 1px 1px 6px 3px #888888;
    size-adjust: 100px;
    border: px bisque;
    width: 190px;
    height: auto;
    padding: 5PX;
}

.MainTitle {
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: beige;
    font-size: x-large;
    background-color: rgb(22, 22, 22);
    width: 350px;
    border-radius: 20px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 10px 2px #888888;

}

.p {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: rgb(78, 78, 78);
    border: none;
    color: white;
    padding: 0px 13px 0px 13px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
}

#Experience1 {
    
    align-self: left;
    text-align: left;
    border: 1px skyblue;
    background-color: rgb(255, 252, 252);
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 2px 10px 2px #888888;
}
#ProfessionalExperience {
    display: flex;
    flex-wrap: wrap;
}
.row1, .row2  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.column1,
.column2,
.column3,
.column4 {
    padding: 10px 0px 10px 0px;
    margin: 10px 40px 10px 40px;
    width: 600px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 2px #888888;
}
 #Skills {
    display: flex;
    flex-wrap: wrap;

 }
 .skills1,
 .skills2 {
    padding: 20px 20px 20px 20px;
    margin: 10px 40px 10px 40px;
    width: 420px;
    align-items: center;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #888888;
}
#QualificationMainTitle {
    color: whitesmoke;
    background-color: rgb(21, 21, 21);
    text-align: left;
}
#EducationalQualification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 10px 40px 10px 40px;
    
}
.table1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.row:after {
    display: flex;
    justify-content: center;
    content: "";
    float: center;
    clear: both;
    align-content: center;
}

.btn:hover {
    background-color: rgb(22, 22, 22);
}

.Column1 {
    margin: 5px 10px 5px 10px;
    padding: 10px;
    
}

.Title {
    background-color: rgb(22, 22, 22);
    color: antiquewhite;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}
#Hcourses {
    padding: 10px 10px;
    align-items: right;
    margin: 5px 850px;
}

.ProgressBar>span {
    display: block;
    text-align: center;
    margin: 10px 0px 10px 0px;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(230, 230, 230);
    border-color: rgb(255, 255, 255);
    border-radius: 500px;
    position: relative;
    overflow: hidden;
    font-weight: bolder;
}

.labels {
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: antiquewhite;
    font-size: 18px;
    font-weight: lighter;

}

.DivProgressBar {
    border-color: aliceblue;
    width: auto;
    border-radius: 20px;
    background-color: #888888;

}

table,
th,
td {
    margin: 10px 40px 10px 40px;
    align-items: center;
    align-self: center;
    align-content: center;
    width: fit-content;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 2px #888888;

}

th,
td {
    padding: 10px 10px 10px 10px;
    width: fit-content;
    }

.my-interest {
    padding: 10px 5px 10px 5px;
    margin: auto;
    color: antiquewhite;
    font-size: 20px;
    font-weight: lighter;
}

.certificate-p {
    color: whitesmoke;
    font-style: oblique;
    font-weight: 600px;
    padding: 10px 10px 10px 10px;
    margin: 10px;

}

.certification-duration {
    margin: 10px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: rgb(20, 20, 20);
}

span {
    text-align: left;
    align-items: start;
    font-size: large;
    margin: 10px 5px 5px 5px;
    padding: 0px 0px 0px 10px;
}

.Heading-MY-interest {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.Points {
    margin: 5px 10px 5px 5px;
}